// Variables

@lightgray: #f7f7f7;
@gray: #333;

@base-font: Tahoma, "Trebuchet MS", Helvetica, sans-serif;

@base-text-color: black;
@second-text-color: contrast(@base-text-color);
@link-text-color: blue;

@base-alpha: 65%;
@hover-alpha: @base-alpha + 20%;
@disabled-alpha: @base-alpha - 30%;

@base-input-color: @gray;
@second-input-color: fade(@base-input-color, 70%);
@border-input-color: fade(@base-input-color, 10%);

@base-header-color: fade(#fff, @base-alpha);
@base-header-hover-color: fade(#fff, @hover-alpha);

@base-vk-color: rgb(77, 113, 152);
@header-vk-color: fade(@base-vk-color, @base-alpha);
@header-hover-vk-color: fade(@base-vk-color, @hover-alpha);
@header-vk-text-color: @second-text-color;

@base-feedback-color: rgb(255, 95, 95);
@header-feedback-color: fade(@base-feedback-color, @base-alpha);
@header-hover-feedback-color: fade(@base-feedback-color, @hover-alpha);
@header-feedback-text-color: @second-text-color;

@base-sidebar-color: fade(#fff, @base-alpha);
@base-sidebar-hover-color: fade(#fff, @hover-alpha);
@base-sidebar-unactive-color: fade(#fff, @disabled-alpha);

// Mixins

.nopadding() {
    padding: 0;
}
.nomargin() {
    margin: 0;
}
.nooutline() {
    outline: none;
}

.cross-platform(@_prop, @_val) {
    -webkit-@{_prop}: @_val;
    -moz-@{_prop}: @_val;
    -ms-@{_prop}: @_val;
    o-@{_prop}: @_val;
    @{_prop}: @_val;
}