#header{
    width: 100%;
    height: 150px;
    margin: 15px 0px;
}
#header > a{
    display: inline-block;
    width: calc(20% - 36px);
    height: 100%;
    margin: 0px 18px;
    padding-top: 125px;
    padding-right: 20px;
    transition: 0.35s;
    position: relative;
    box-sizing: border-box;
    text-shadow: 1px 0px 0px #000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 25px;
    font-size: 22px;
    cursor: pointer;
    color: #000;

    background: url('../images/header.svg') calc(50% - 10px) 0% no-repeat rgba(255, 255, 255, 0.65);
    background-size: 204px auto
}
#header.slice > a{
    width: calc(22% - 36px);
    margin: 0px 42px;
}
#header > a:hover{
    background-color: rgba(255, 255, 255, 0.85);
}
#header > a:before{
    content: '';
    transition: 0.35s;
    position: absolute;
    z-index: 0;
    bottom: 0px;
    left: -30px;
    top: 0px;
    border-top: 150px solid transparent;
    border-right: 30px solid rgba(255, 255, 255, 0.65);
}
#header > a:hover:before{
    border-right-color: rgba(255, 255, 255, 0.85);
}
#header > a:after{
    content: '';
    transition: 0.35s;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    right: -30px;
    top: 0px;
    border-bottom: 150px solid transparent;
    border-left: 30px solid rgba(255, 255, 255, 0.65);
}
#header > a:hover:after{
    border-left-color: rgba(255, 255, 255, 0.85);
}
#header > a:first-child{
    width: calc(20% - 18px);
    background-position-x: 50%;
    padding-right: 0px;
    margin-left: 0px;
}
#header.slice > a:first-child{
    width: calc(22% - 18px);
}
#header > a:last-child{
    width: calc(20% - 18px);
    margin-right: 0px;
}
#header.slice > a:last-child{
    width: calc(22% - 18px);
}
#header > a:first-child:before, #header > a:last-child:after{
    content: none;
}

#header > a.vk{
    color: #fff;
    background-color: rgba(77, 113, 152, 0.65);
}
#header > a.vk:after{
    border-left-color: rgba(77, 113, 152, 0.65);
}
#header > a.vk:hover{
    background-color: rgba(77, 113, 152, 0.85);
}
#header > a.vk:hover:after{
    border-left-color: rgba(77, 113, 152, 0.85);
}
#header > a.info{
    background-position-y: 25%;
}
#header > a.events{
    background-position-y: 50%;
}
#header > a.rubrics{
    background-position-y: 75%;
}
#header > a.feedback{
    background-position-y: 100%;
}
#header > a.feedback{
    color: #fff;
    background-color: rgba(255, 95, 95, 0.65);
}
#header > a.feedback:before{
    border-right-color: rgba(255, 95, 95, 0.65);
}
#header > a.feedback:hover{
    background-color: rgba(255, 95, 95, 0.85);
}
#header > a.feedback:hover:before{
    border-right-color: rgba(255, 95, 95, 0.85);
}
